---
layout: default
title: Careers
seo:
 meta-description:
 keywords:
 social_image:
 twitter_card:
 twitter_description:
 type: website
 hide-from-google: false
banner_image: >-
 /images/swatch-architects-bali-architecture-casa-padang-padang-villa-house-complex-1.jpg
accordion:
 -
  heading: Project Architect
  description_html: >-
   As a Project Architect, you will play a key role in leading and managing
   high-end residential design projects from concept to completion. You will
   collaborate closely with clients, design teams, and contractors to ensure the
   successful execution of projects that exceed client expectations and showcase
   the unique beauty of Balinese architecture.
  do_you_have_html: >-
   <p>A meticulous eye for detail.</p><p>A creative and technical
   skillset.</p><p>Experience in leading and motivating a small team.</p><p>An
   openness to learn and develop new skills.</p><p>Ambitions for growth and
   career development.</p><p>Dreams of working in Bali with an awesome team of
   people.</p>
  qualifications_html: >-
   <p>Professional degree in Architecture.</p><p>Proven experience (5+ years) in
   high-end residential design.</p><p>Proficient in relevant design software
   (MicroStation or AutoCAD, Rhino, Adobe, etc.).</p><p>Strong understanding of
   Balinese architectural traditions and cultural influences.</p><p>Excellent
   communication and presentation skills.</p>
  how_to_apply_html: >-
   <p>Interested candidates should submit their resume, portfolio, and a cover
   letter detailing their relevant experience to
   careers@swatcharchitects.co.uk.</p><p>Please include "Project Architect
   Application – [Your Name]" in the subject line.</p><p>Salary is dependent on
   experience.</p><p>Swatch is an equal-opportunity employer and welcomes
   candidates from all backgrounds to apply.</p>
  responsibilities_html: >-
   <h2>Project Leadership:</h2><p>Lead and manage high-end residential design
   projects, overseeing all phases from conceptualization to construction
   administration.</p><p>Ensure projects adhere to the highest standards of
   design excellence, craftsmanship, and client satisfaction.</p><h2>Design
   Innovation:</h2><p>Infuse creativity and innovation into residential designs,
   integrating contemporary design principles with the rich cultural and
   architectural heritage of Bali.</p><p>Stay abreast of industry trends and
   incorporate cutting-edge design concepts into project
   deliverables.</p><h2>Client Collaboration:</h2><p>Collaborate closely with
   clients to understand their vision, lifestyle, and unique
   preferences.</p><p>Present design concepts and proposals in a compelling
   manner, incorporating client feedback to refine and enhance
   designs.</p><h2>Team Collaboration:</h2><p>Work collaboratively with internal
   design teams, providing guidance and support to ensure the successful
   execution of project visions.</p><p>Foster a collaborative and positive
   studio culture that values creativity, teamwork, and
   excellence.</p><h2>Regulatory Compliance:</h2><p>Ensure all projects comply
   with local building codes, regulations, and environmental
   standards.</p><p>Coordinate with relevant authorities and consultants to
   obtain necessary approvals.</p><p>Uphold an understanding and respect for
   Balinese culture, customs, and traditions to ensure that design concepts
   align with the local context and values.</p>
 -
  heading: Junior Architect
  description_html: >-
   <p>As a Junior Architect, you will play a vital role in the design and
   development of high-end residential projects. Working closely with our
   experienced team, you will have the opportunity to contribute your creative
   ideas, learn from seasoned professionals, and actively participate in all
   phases of the architectural process.</p>
  do_you_have_html: >-
   <p>A meticulous eye for detail.</p><p>A creative and technical
   skillset.</p><p>An openness to learn and develop new skills.</p><p>Ambitions
   for growth and career development.</p><p>Dreams of working in Bali with an
   awesome team of people.</p>
  qualifications_html: >-
   <p>Bachelor’s or Master’s degree in Architecture.</p><p>Proven experience (2+
   years) in high-end residential design.</p><p>Demonstrated proficiency in
   architectural software and design tools. (MicroStation or AutoCAD, Rhino,
   Adobe, etc.).</p><p>Strong design sensibility and a passion for high-end
   residential architecture.</p><p>Excellent communication and teamwork
   skills.</p><p>Enthusiasm for learning and a proactive approach to tasks.</p>
  how_to_apply_html: >-
   <p>Interested candidates should submit their resume, portfolio, and a cover
   letter detailing their relevant experience to
   careers@swatcharchitects.co.uk.</p><p>Please include "Creative Director
   Application – [Your Name]" in the subject line.</p><p>Salary is dependent on
   experience.</p><p>Swatch is an equal opportunity employer and welcomes
   candidates from all backgrounds to apply.</p>
  responsibilities_html: >-
   <h2>Project Collaboration:</h2><p>Collaborate with senior architects and
   design teams to contribute creative ideas and concepts to high-end
   residential projects.</p><p>Assist in the development of design proposals,
   presentation materials, and project documentation.</p><h2>Drafting and
   Modeling:</h2><p>Utilize architectural software to produce detailed drawings,
   3D models, and renderings.</p><p>Assist in the preparation of construction
   documents and specifications.</p><h2>Client Interaction:</h2><p>Engage with
   clients to understand their preferences, vision, and requirements,
   contributing to the development of client presentations.</p><h2>Learning and
   Development:</h2><p>Actively seek opportunities for professional growth and
   development within the studio environment.</p><p>Learn from experienced
   architects and contribute to a collaborative and innovative design
   culture.</p>
 -
  heading: Interior Designer
  description_html: >-
   <p>As an Interior Designer, you will play a pivotal role in shaping the
   interior aesthetics of our high-end residential projects. Collaborating
   closely with architects and clients, you will be responsible for
   conceptualizing and executing interior designs that reflect the studio’s
   commitment to excellence and cultural sensitivity.</p>
  do_you_have_html: >-
   <p>Meticulous attention to detail in all aspects of interior
   design.</p><p>Expertise in sourcing and selecting high-quality materials and
   furnishings.</p><p>Flexibility to adapt to varying client preferences and
   project requirements.</p><p>Ambitions for growth and personal
   development.</p><p>Dreams of working in Bali with an awesome team of
   people.</p>
  qualifications_html: >-
   <p>Bachelor’s or Master’s degree in Architecture.</p><p>Proven experience (2+
   years) in high-end residential design.</p><p>Demonstrated proficiency in
   architectural software and design tools. (MicroStation or AutoCAD, Rhino,
   Adobe, etc.).</p><p>Strong design sensibility and a passion for high-end
   residential architecture.</p><p>Excellent communication and teamwork
   skills.</p><p>Enthusiasm for learning and a proactive approach to tasks.</p>
  how_to_apply_html: >-
   <p>Interested candidates should submit their resume, portfolio, and a cover
   letter detailing their relevant experience to
   careers@swatcharchitects.co.uk.</p><p></p><p>Please include "Interior
   Designer Application – [Your Name]" in the subject line.</p><p>Salary is
   dependent on experience.</p><p>Swatch is an equal opportunity employer and
   welcomes candidates from all backgrounds to apply.</p>
  responsibilities_html: >-
   <h2>Interior Conceptualization:</h2><p>Develop creative interior concepts
   that align with the overall architectural vision of high-end residential
   projects.</p><p>Integrate Balinese cultural elements into interior designs,
   creating spaces that are both sophisticated and culturally
   resonant.</p><h2>Material and Finishes Selection:</h2><p>Source and select
   high-quality materials, finishes, and furnishings that elevate the interior
   design and align with project requirements and budget
   considerations.</p><h2>Client Collaboration:</h2><p>Collaborate closely with
   clients to understand their lifestyle, preferences, and vision for their
   living spaces.</p><p>Present design concepts and mood boards, incorporating
   client feedback to refine and enhance the interior
   design.</p><h2>Coordination with Architectural Team:</h2><p>Work
   collaboratively with architects and other design professionals to ensure
   seamless integration of interior and architectural
   elements.</p><p>Participate in design meetings and contribute to a cohesive
   design language.</p><h2>3D Modeling and Visualization:</h2><p>Utilize design
   software (Rhino, 3ds Max, etc.) to create 3D models and renderings, providing
   clients with visual representations of proposed interior designs.</p>
 -
  heading: CGI Artist
  description_html: >-
   <p>As a CGI Artist, you will be a key player in transforming architectural
   concepts into immersive visual experiences. Working closely with architects
   and designers, you will contribute to the creation of stunning CGI renderings
   and animations that showcase the elegance and unique features of our high-end
   residential designs.</p>
  do_you_have_html: >-
   <p>Passion for your craft and transforming ideas into immersive visual
   experiences.</p><p>The ability to convey emotions, tell stories, and evoke
   awe through digital canvases.</p><p>Keen eye for visual aesthetics and
   accurate portrayal of materials, finishes, and lighting.</p><p>Meticulous
   attention to detail in all aspects of design.</p><p>Enthusiasm to learn and
   embrace new tools, techniques, and technologies</p><p>Ambitions for growth
   and personal development.</p><p>Dreams of working in Bali with an awesome
   team of people.</p>
  qualifications_html: >-
   <p>Bachelor’s or Master’s degree in CGI, Computer Animation, or a related
   field.</p><p>Proven experience in creating CGI renderings and animations,
   preferably in the field of architecture or high-end residential
   design.</p><p>Proficiency in CGI software (such as 3ds Max, V-Ray, or
   similar) and post-production tools (Photoshop, After Effects).</p><p>Strong
   attention to detail and a keen eye for visual aesthetics.</p><p>Excellent
   communication and collaboration skills.</p>
  how_to_apply_html: >-
   <p>Interested candidates should submit their resume, portfolio, and a cover
   letter detailing their relevant experience to
   careers@swatcharchitects.co.uk.</p><p>Please include "CGI Artist Application
   – [Your Name]" in the subject line.</p><p>Salary is dependent on
   experience.</p><p>Swatch is an equal-opportunity employer and welcomes
   candidates from all backgrounds to apply.</p>
  responsibilities_html: >-
   <h2>Digital Visualization:</h2><p>Produce high-quality CGI renderings and
   animations that bring architectural concepts to life, highlighting design
   details and aesthetics.</p><h2>Interior and Exterior Rendering:</h2><p>Create
   realistic visualizations for both interior and exterior spaces, capturing the
   essence of high-end residential designs.</p><h2>Material and Lighting
   Representation:</h2><p>Ensure accurate representation of materials, finishes,
   and lighting effects in CGI visualizations.</p><h2>Collaboration with Design
   Teams:</h2><p>Work closely with architects and interior designers to
   understand design intent and incorporate feedback into CGI
   representations.</p><h2>Project Presentation:</h2><p>Contribute to client
   presentations by providing visually compelling CGI images that effectively
   communicate design concepts.</p><h2>Technical Proficiency:</h2><p>Stay
   updated on the latest CGI tools, software, and techniques to enhance the
   quality and efficiency of visualizations.</p>
---
<section class="bg-image-style h-[60vh]" style="background-image: url('{{page.banner_image}}');">
</section>



<section class="grid grid-cols-2 px-20 pt-10">
  <div class="col-span-full flex justify-between">
    <p class="subtitle-sm">Careers</p>
    <p class="subtitle-sm">Work with us</p>
</div>

<div class="col-span-full mt-0">
  {% include animations/animated-span.html %}
</div>

</section>
<section class="grid md:grid-cols-2 gap-16 grid-cols-1 px-20 pt-10">
  
    

    <div class="editable">
        <h1 class="serif-lg">People are <span>at the heart</span> of Swatch: in the projects we deliver, the <span>opportunities</span> we <span>enable</span> and the <span>connections</span> we make across global <span>communities</span>.</h1>
    </div>
    <div class="editable">
        <p>As an architecture studio rooted in London’s dynamic urban fabric and Bali's vibrant culture, collaboration fuels our passion. We believe in the power of diverse perspectives, fostering a team of talented individuals committed to shaping our architectural future. <br /><br />Our inclusive ethos, sustainable approach, and unwavering dedication to equal opportunities define our practice. We warmly embrace individuals from all walks of life, inviting them to join our global teams and contribute to our collective vision. <br /><br />If you don't see a role that matches your expertise, stay connected with us through our social media channels and website to be the first to know about future opportunities at Swatch.<br /><br />For any career-related inquiries, please contact us at: <a href="mailto:careers@swatcharchitects.co.uk">careers@swatcharchitects.co.uk</a>
            </p>
    </div>

    <div class="col-span-full pt-20 careers">
        {% include accordion.html %}
    </div>
</section>