---
layout: default
banner_image: /images/swatch-architects-bali-architecture-makalu-villa-house-5.jpg
seo:
 meta-description: >-
  Contact Terre Interiors and inquire abouto our luxury interior design services
  in London and Marbella.
 keywords:
 social_image:
 twitter_card:
 twitter_description:
 type: website
 hide-from-google: true
---
<!-- Header -->
<section class="grid md:grid-cols-2 grid-cols-1 bg-light">

  <!-- Left Column -->
  <div class="bg-image-style h-[100vh]" style="background-image: url('{{ page.banner_image }}');">
     
  </div>

  <!-- Right Column -->
  <div class="flex flex-col justify-end p-10">

      <h2 class="editable mb-8 mt-2  serif-lg">Let's <em> collaborate</em> </h2>
      <p class="mb-4 editable  "> General Inquries: info@swatcharchitects.co.uk </p> 
      <p class="mb-4 editable "> Careers: careers@swatcharchitects.co.uk </p> 
      <p class="mb-4 editable "> Whatsapp: +62823-4023-0730 </p> 

      {% include default/social-icons.html %}
      {% include contact-form.html %}
    
  </div>

</section>



