---
layout: default
title: Invest Swatch Architects
seo:
  meta-description:
  keywords:
  social_image:
  twitter_card:
  twitter_description:
  type: website
  hide-from-google: false
images: 
  first_image: /images/swatch-architects-bali-villa-house-architecture-design-studio-9.jpg
  second_image: /images/swatch-architects-bali-architecture-design-studio-villa-house-3.jpg
  third_image: /images/swatch-architects-bali-architecture-makalu-villa-house-2.jpg
  fourth_image: /images/swatch-architects-bali-design-studio-amari-two-bed-7.jpg
benefits:
  - title: Strong and sustainable results
  - title: EXCEPTIONAL PROPERTY MANAGEMENT
  - title: PRIME LOCATIONS
  - title: TRANSPARENT PROCESS
  - title: SAFE ONLINE INVESTMENTS
  - title: INVESTOR CONCIERGE SERVICES
opportunities:
  - title: Investment <em> Properties </em>
    image: /images/swatch-architects-bali-design-studio-amari-two-bed-7.jpg
    bullet:
    - title: From USD 150K
    - title: Apartments, townhouses, villas
    - title: Lifestyle or pure financial investment
    - title: Effective design and operation
    - title: Short to medium term
    link: 
  - title: <em> Luxury </em>  Homes
    image: /images/swatch-architects-bali-design-studio-amari-two-bed-7.jpg
    bullet:
    - title: From USD 500K
    - title: Exceptional villas and properties
    - title: Incredible locations
    - title: Architectural significance
    - title: Medium to long-term
    link:   
  - title: Project <em> Investments</em>
    image: /images/swatch-architects-bali-design-studio-amari-two-bed-7.jpg
    bullet:
    - title: From USD 500K
    - title: Exceptional villas and properties
    - title: Incredible locations
    - title: Architectural significance
    - title: Medium to long-term
    link:  
---

<!-- Header -->
<section class="grid md:grid-cols-2 grid-cols-1 bg-light">

    <!-- Left Column -->
    <div class="bg-image-style h-[100vh]" style="background-image: url('{{ page.images.first_image }}');">
       
    </div>

    <!-- Right Column -->
    <div class="lg:p-20 md:p-10 md:pb-0 lg:pb-0 py-12 px-8 flex flex-col justify-end items-start">
        <h1 class="editable serif-lg margin-heading lg:w-3/4">Investing <em> with SWATCH </em> is all about <em>effortless </em>opportunites and joining a community of <em>like-minded</em> peers.</h1>
        <div class="editable lg:w-3/4">
            <p>For those interested to begin or expand your investment portfolio, we offer proven high-yield opportunities designed with our investors in mind. </p>
            <p> Neo luxury is what sets us apart. We prioritise purpose over prestige, experiences over posessions nd value for money over eclusivity. Lucury to us is smart decisions, creating time and building a community who value authenticity, individuality and local connnections. </p>
        </div>
        <a href="#" class="editable link">book a free consultation</a>
    </div>

</section>



<!-- Philosophy Section -->
<section class="lg:py-5p">
  <!-- Image and Text Container -->
  <div class="grid lg:grid-cols-2">
    <!-- Text -->
    <div
      class="py-12 lg:py-0 flex-1 flex flex-col items-end justify-end h-[75vh]"
    >
      <div class="flex justify-start mt-auto pl-20 relative ">
        <div>
          <h2 class="serif-lg margin-heading lg:w-[75%]" data-aos="fade-in">
            SWATCH Living presents <em>an array </em>of exclusive <em>investment opportunities </em>in Bali</em>.
          </h2>
          <p data-aos="fade-in" class="lg:w-[75%] mb-12">
            Our commitment to integrity and transparency ensures a solid offer for investors seeking sophisticated and rewarding investments in this vibrant market.
          </p>
   
            {% for item in page.benefits %}
            <div class="">
              
                <p class="editable uppercase text-lg mt-6 "><span>{{item.title}}</span></p>
        
            </div>
            {% include animations/animated-span.html %}
          
            {% endfor %}
      

         
        </div>
      </div>

    </div>

    <!-- Image -->
    <div
      class="order-first lg:order-last bg-image-style flex-1 min-h-[75vh]"
      style="background-image: url('{{ page.images.second_image }}');"
      data-aos="fade-in"
    ></div>
  </div>
</section>



<!-- Banner -->
<section
  class="bg-image-style min-h-[70vh]"
  style="background-image: url('{{ page.images.third_image }}');"
  data-aos="fade-in"
></section>






<!-- OPportunities  Section -->
<section class="p-20">
  <div class="col-span-full">  {% include animations/animated-span.html %} </div>
{% for item in page.opportunities %}

  
  <!-- Image and Text Container -->
  <div class="grid lg:grid-cols-2">


    <!-- Text -->
    <div class="py-12 lg:py-0 flex-1 flex flex-col justify-between ml-8 mr-8 lg:mr-24">
      <div class="flex justify-start mt-auto">
        <div class="lg:w-[70%] pb-12">
          <h2 class="serif-lg margin-heading" data-aos="fade-in">
            {{ item.title }}
          </h2>
          <p data-aos="fade-in" class="uppercase">
           {% for item in item.bullet %}
            <p class="uppercase"> {{item.title}} </p>
           {% endfor %}
          </p>
        
          <a href="{{item.link}}" class="link" data-aos="fade-in">enquire</a>
        </div>
      </div>
    
    </div>

    <!-- Image -->
    <div class="py-5p ">

      <img class="object-center object-cover h-[50vh] w-full" src="{{ item.image }}">
    
    </div>

  </div>
  <div class="col-span-full">  {% include animations/animated-span.html %} </div>


  {% endfor %}

</section>