---
layout: alternative-layout
title: Projects 
seo:
  meta-description: Each project reflects our commitment to creating beautiful, functional spacesthat seamlessly blend contemporary aesthetics with Balinesian craftsmanship.
  keywords:
  social_image:
  twitter_card:
  twitter_description:
  type: website
  hide-from-google: false
---

<section class="grid lg:grid-cols-2 items-center grid-cols-1">
  {% for item in site.projects %}

  <div>
    <a href="{{item.url}}">
      {% for image in item.featured_images limit:1 %}
      <img
        src="{{image.image}}"
        alt=""
        class="h-screen object-cover object-center w-full"
      />
      {% endfor %}
    </a>
  </div>

  <div class="bg-[{{item.project_colour}}] lg:h-screen content-center">
    <div class="lg:p-20 p-10">
      {% include sliders/image-slideshow.html %}
   </div>
  </div>
    
  

  <div class="col-span-full mt-6 lg:mx-8 mx-10 lg:pb-20 pb-10">
    {% include animations/animated-span.html %}

    <div class="flex justify-between mt-6">
      <h1 class="subtitle-md">{{item.title}}</h1>
      <a href="{{item.url}}" class="link-project">view project</a>
    </div>
  </div>

  {% endfor %}
</section>
