/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- Import Typekit -----*/
@import url("https://p.typekit.net/p.css?s=1&k=fqs6nnq&ht=tk&f=10300.32464.32465.39466&a=31597912&app=typekit&e=css");

/* ----------- Default Styles to apply to the whole project  --------- */
@layer base {

    html {
        @apply scroll-smooth
    }

    /* * { @apply border border-black } */

    body {
        @apply font-body font-light text-dark bg-light antialiased leading-[1em] text-sm
    }

    h1 span, h2 span {@apply italic }

    p {
        @apply mb-4
    }

    p:last-child {
        @apply mb-0
    }

    @font-face {
        font-family: "brandon-grotesque";
        src: url("https://use.typekit.net/af/1281a1/000000000000000077359ded/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),
             url("https://use.typekit.net/af/1281a1/000000000000000077359ded/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),
             url("https://use.typekit.net/af/1281a1/000000000000000077359ded/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
        font-display: auto;
        font-style: normal;
        font-weight: 300;
        font-stretch: normal;
    }

    @font-face {
        font-family: "meno-banner";
        src: url("https://use.typekit.net/af/de021d/00000000000000003b9af036/27/l?subset_id=2&fvd=i3&v=3") format("woff2"),
             url("https://use.typekit.net/af/de021d/00000000000000003b9af036/27/d?subset_id=2&fvd=i3&v=3") format("woff"),
             url("https://use.typekit.net/af/de021d/00000000000000003b9af036/27/a?subset_id=2&fvd=i3&v=3") format("opentype");
        font-display: auto;
        font-style: italic;
        font-weight: 300;
        font-stretch: normal;
    }

    @font-face {
        font-family: "meno-banner";
        src: url("https://use.typekit.net/af/624f00/00000000000000003b9af037/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),
             url("https://use.typekit.net/af/624f00/00000000000000003b9af037/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),
             url("https://use.typekit.net/af/624f00/00000000000000003b9af037/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
        font-display: auto;
        font-style: normal;
        font-weight: 300;
        font-stretch: normal;
    }

    @font-face {
        font-family: "monotype-grotesque";
        src: url("https://use.typekit.net/af/fc14c5/00000000000000007735bb85/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),
             url("https://use.typekit.net/af/fc14c5/00000000000000007735bb85/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),
             url("https://use.typekit.net/af/fc14c5/00000000000000007735bb85/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
        font-display: auto;
        font-style: normal;
        font-weight: 300;
        font-stretch: normal;
    }

}

/* fix for AOS in cloudcannon */
body.cms-editor-active {
    [data-aos^=fade], [data-aos^=fade] * {
      opacity: 1 !important;
     }
   }


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    .text-primary {color:var(--primary); }
    .text-secondary {color:var(--secondary); }
    .text-light {color:var(--light); }
    .text-dark {color:var(--dark); }
    .text-bright {color:var(--bright); }
  
  
    .bg-primary { background-color: var(--primary); }
    .bg-secondary { background-color: var(--secondary); }
    .bg-light { background-color: var(--light); }
    .bg-dark { background-color: var(--dark); }
    .bg-bright { background-color: var(--bright); }
  
    .border-primary{ border-color: var(--primary); }
    .border-secondary { border-color: var(--secondary); }
    .border-light { border-color: var(--light); }
    .border-dark { border-color: var(--dark); }
    .border-bright { border-color: var(--bright); }

    /* Buttons */
    .link {
        @apply font-serif italic underline text-[1.1rem] lowercase mt-8 block
    }

    .link-project {
        @apply font-serif italic underline text-[1.1rem] lowercase block
    }

    .list-project {
        @apply border-b border-dark py-8 flex justify-between
    }

    /* Images */
    .bg-image-style {
        @apply bg-cover bg-no-repeat bg-center
    }

    .bg-overlay {
        position: relative;
      }
      
      .bg-overlay::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(137, 102, 72, 0.3);
      }
      
      .bg-overlay > * {
        position: relative;
      }

    /* Forms */
    .focus-main {
        @apply focus:outline-none focus:ring-2 focus:ring-main
    }

    /* Typography */

    .subtitle-lg { @apply uppercase text-[1.1rem] }
    .subtitle-md { @apply uppercase lg:text-[1rem] text-[0.9rem] }
    .subtitle-sm { @apply uppercase text-[0.7rem] }

    .serif-lg { @apply font-serif text-[1.8rem] leading-[1em]  }

    .serif-md {  @apply font-serif text-[1.4rem] leading-[1em] }
    .serif-sm {  @apply font-serif text-[14px] leading-[1em] }


    /* Spacing */
    .margin-heading {
        @apply mb-8
    }

}

/* Font Classes */
.tk-brandon-grotesque { font-family: "brandon-grotesque", sans-serif; }
.tk-meno-banner { font-family: "meno-banner", serif; }
.tk-monotype-grotesque { font-family: "monotype-grotesque", sans-serif; }

.careers h2 { @apply subtitle-sm mb-4 }
