<section id="cookie-notice" class="grid grid-rows-2 items-center justify-center flex-col">
    <div>
        <h4 class="mb-4 text-xl">Cookie Notice</h4>
        <p class="mb-4">I value your privacy and to deliver the best experience possible, my website uses cookies. By
            accepting this agreement, you automatically consent to the use of cookies. Click <button id="clickToPopup"
                type="button" class="border-black border-b">here</button> to find out what for.</p>
    </div>
    <div class="mt-2 cookie-buttons-container">
        <a id="cookie-notice-accept" class="button-cookie-solid">I accept</a>
        <a id="close-cookie-banner" class="button-cookie">Reject</a>
        <!-- <a href="/privacy-policy" class="button-cookie">Read cookie policy</a> -->
    </div>
</section>
<div id="cookie-overlay"
    style="display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.5); z-index: 2000;">
</div>



<!---------- Cookie policy popup ------------>
<div id="windowParent" class="window-parent">
    <div class="window">
        <div class="x close" draggable="true">&times;</div>
        <div
            class="max-h-[70vh] overflow-y-scroll grid grid-cols-1 justify-center items-center justify-items-center lg:w-[60vw] w-[75vw] md:p-8 p-4 m-auto">
            <div>
                <!-- Add full cookie policy here -->

                <!-- End cookie policy -->
            </div>
        </div>
    </div>
</div>




<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name, "", -1);
    }
    function runTrackingScripts() {
        // Add tracking scripts here 
        // Start Google Analytics

        { { site.data.site - settings.technical.google - analytics_embed } }


        // End Google Analytics
        // End tracking scripts 
    }
    if (readCookie('cookie-notice-agreed') == 'true') {

        runTrackingScripts()

    } else if (readCookie('cookie-notice-rejected') == 'true') {
        console.log('cookie pop up was rejected')
    } else {
        document.getElementById('cookie-notice').style.display = 'flex';
        document.getElementById('cookie-overlay').style.display = 'block';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click", function () {
        createCookie('cookie-notice-agreed', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        document.getElementById('cookie-overlay').style.display = 'none';
        runTrackingScripts()
    });
    document.querySelector("#close-cookie-banner").addEventListener("click", (e) => {
        createCookie('cookie-notice-rejected', 'true', 7);
        document.querySelector("#cookie-notice").style.display = 'none';
        document.querySelector("#cookie-overlay").style.display = 'none';
    });

    // //-------------------- Click to show cookie policy popup
    let windowParent = document.getElementById("windowParent");
    let button = document.getElementById("clickToPopup");
    let closeButtons = document.getElementsByClassName("close");
    let content = document.getElementById("content");

    button.addEventListener("click", openPopup);

    for (let closeButton of closeButtons) {
        closeButton.addEventListener("click", closePopup);
    }

    function openPopup() {
        windowParent.style.display = "block";
        windowParent.style.animationName = "scaleUp";
        content.style.filter = "blur(2px)";
    }

    function closePopup() {
        windowParent.style.animationName = "scaleDown";
        setTimeout(() => {
            windowParent.style.display = "none";
        }, 200);
        content.style.filter = "initial";
    }
</script>

<style>
    .window-parent {
        display: none;
        position: absolute;
        /* animation: scaleUp 0.2s linear; */
        z-index: 200000;
        top: 25%;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
    }

    .window {
        position: relative;
        background-color: #EAE7D7;
        /* border-radius: 1rem; */
        padding: 2rem;
        margin: 2rem;
        font-size: 1rem;
        color: black;
        z-index: 20000;
    }

    @media (max-width: 768px) {
        .window {
            padding: 1rem;
            margin: 2rem;
        }
    }

    .x {
        position: absolute;
        top: 1rem;
        right: 2rem;
        width: 1rem;
        height: 1rem;
        padding: 0;
        margin: 0;
        /* border-radius: 50%; */
        color: black;
        text-align: center;
        font-size: 3.5rem;
        line-height: 0.91rem;
        /* border: 2px solid black; */
        transition-duration: 0.3s;
        cursor: pointer;
        align-items: center;
        font-weight: normal;
    }

    /* .close {
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 5rem;
  font-family: monospace;
} */

    @keyframes scaleUp {
        0% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes scaleDown {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.8);
        }
    }


    #cookie-notice {
        /* change overall cookie banner background & text colors below */
        background: #EAE7D7;
        color: black;
        padding: 2rem;
        display: none;
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 40%;
        z-index: 10000;
    }

    #cookie-notice p a {
        font-family: 'sans-serif';
    }

    .button-cookie {
        /* change cookie button font style and size below */
        font-family: 'sans-serif';
        font-size: 12px;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        margin-right: 1rem;
        padding: 0.3rem 1rem 0.3rem 1rem;
        display: inline-block;
        /* font-weight: 600; */
        letter-spacing: 0.1em;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-appearance: none;
    }

    .button-cookie-solid {
        /* change the accept button  font, size, color and background color below */
        font-family: 'sans-serif';
        font-size: 0.75rem;
        border: 1px solid black;
        background-color: #DDD9DF;
        color: black;
        text-decoration: none;
        margin-right: 1rem;
        padding: 0.3rem 1rem 0.3rem 1rem;
        display: inline-block;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-appearance: none;
    }

    .cookie-buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Medium breakpoint */
    @media (max-width: 64em) {

        #cookie-notice {
            width: 60%;
        }

        .button-cookie,
        .button-cookie-solid {
            font-size: 12px;
        }
    }

    /* Small breakpoint */
    @media (max-width: 48em) {
        #cookie-notice {
            width: 95%;
            height: 35%;
        }
    }
</style>