<header class="absolute md:bg-none top-0 z-10 w-full grid grid-cols-3 px-4">
  <!-- Left Column -->
  <div class="md:flex items-center pb-1 hidden">
    {% for item in site.data.navigation.header limit:1 %}
    <a
      href="{{ item.nav_link }}"
      class="uppercase text-sm"
      data-aos="fade-in"
      data-aos-delay="300"
      >{{ item.nav_title }}</a
    >
    {% endfor %}
  </div>

  <!-- Logo -->
  <div
    class="logo flex-grow flex md:justify-center w-full col-span-2 md:col-span-1"
  >
    <a
      href="/index.html"
      class="text-center"
      data-aos="fade-in"
      data-aos-delay="500"
    >
      <img
        src="{{ site.data.site-settings.brand.primary_logo_path }}"
        class="inline-block h-14 object-contain mb-[-2px]"
      />
    </a>
  </div>

  <!-- Right Column -->
  <div class="right md:flex items-center justify-end pb-1 hidden">
    <!-- {% for item in site.data.navigation.header limit:1 offset:1 %}
    <a
      href="{{ item.nav_link }}"
      class="uppercase text-sm"
      data-aos="fade-in"
      data-aos-delay="300"
      >{{ item.nav_title }}</a
    >
    {% endfor %} -->
  </div>

  <div class="line col-span-full" data-aos="fade-in" data-aos-delay="300">
    {% include animations/animated-span.html %}
  </div>

  {% include navigation/burger-menu.html %}
</header>

<style>
  /* Mobile-specific styles */
  @media (max-width: 767px) {
    .logo img {
      height: 2.5rem;
      margin-top: 1rem;
    }
  }
</style>
