<footer class="pt-5p mx-8">
  <!-- Logo -->
  <div class="">
    <a href="/index.html">
      <img src="/images/temporary/logo-temp.png" />
    </a>
  </div>
  {% include animations/animated-span.html %}

  <div class="grid lg:grid-cols-12 gap-12 mt-8">
    <!-- Left Column -->
    <div class="col-span-9">
      <p class="w-[30%] mb-8">
        Crafting unique spaces through meaningful collaborations
      </p>

      <!-- Social Links -->
      <div class="flex gap-8">
        <a
          href="{{ site.data.site-settings.social.instagram_username }}"
          class="uppercase"
          >Instagram</a
        >
        <a
          href="{{ site.data.site-settings.social.linkedin_username }}"
          class="uppercase"
          >LinkedIn</a
        >
      </div>
    </div>

    <!-- Right Column -->
    <nav class="col-span-3 columns-2 text-right">
      {% for item in site.data.navigation.footer %}
      <a href="{{ item.nav_link }}" class="block uppercase mb-4"
        >{{ item.nav_title }}</a
      >
      {% endfor %}
    </nav>
  </div>
  <p class="text-right text-[0.7] mt-8">
    Copyright Swatch architects 2004. Website by Klioh Studio
  </p>
</footer>
