<header class="nav absolute md:bg-none top-0 z-10 w-full grid grid-cols-3 px-4">
  <!-- Left Column -->
  <div class="left md:flex items-center pb-1 hidden">
    {% for item in site.data.navigation.header limit:1 %}
    <a href="{{ item.nav_link }}" class="uppercase text-sm"
      >{{ item.nav_title }}</a
    >
    {% endfor %}
  </div>

  <!-- Logo -->
  <div class="logo flex-grow flex justify-center opacity-0">
    <a href="/index.html" class="text-center">
      <img
        src="{{ site.data.site-settings.brand.primary_logo_path }}"
        class="margin inline-block h-14 object-contain"
      />
    </a>
  </div>

  <!-- Right Column -->
  <div class="right flex items-center justify-end pb-1">
    <!-- {% for item in site.data.navigation.header limit:1 offset:1 %}
    <a
      href="{{ item.nav_link }}"
      class="uppercase text-sm"
      data-aos="fade-in"
      data-aos-delay="300"
      >{{ item.nav_title }}</a
    >
    {% endfor %} -->
  </div>

  <div class="line col-span-full">
    {% include animations/animated-span.html %}
  </div>

  <div class="right">{% include navigation/burger-menu.html %}</div>
</header>

<style>
  .margin {
    margin-bottom: -1.4px;
  }

  @media (min-width: 768px) and (max-width: 819px) {
    .left {
      display: none;
    }
  }
  /* Mobile-specific styles */

  @media (max-width: 840px) {
    .line {
      margin-top: 0.5px;
    }
  }

  @media (max-width: 767px) {
    .logo img {
      height: 2.5rem;
      margin-top: 1rem;
    }
  }
</style>

<!-- GSAP TWEEN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

<script>
  TweenMax.set(".logo", { opacity: 0 });

  TweenMax.from(".line", 1.5, {
    display: "none",
    delay: 2.9,
  });

  TweenMax.from(".left", 1.5, {
    opacity: 0,
    delay: 2.9,
  });
  TweenMax.from(".right", 1.5, {
    opacity: 0,
    delay: 2.9,
  });
</script>
