<footer class="pt-5p pb-8 lg:mx-8 mx-[5%]">
  <!-- Logo -->
  <div class="">
    <a href="/index.html" data-aos="fade-in">
      <img class="h-10 lg:-mb-[0.9px] -mb-[0.7px]" src="{{site.data.site-settings.brand.primary_logo_path}}" />
    </a>
  </div>
  {% include animations/animated-span.html %}

  <div class="grid lg:grid-cols-12 gap-12 mt-8">
    <!-- Left Column -->
    <div class="lg:col-span-9">
      <p class="lg:w-[30%] mb-8" data-aos="fade-in">
        Crafting unique spaces through meaningful collaborations
      </p>

      <!-- Social Links -->
      <div class="lg:flex gap-8">
        <a
          href="https://instagram.com/{{ site.data.site-settings.social.instagram_username }}"
          class="uppercase block mb-4 lg:mb-0 text-xs"
          data-aos="fade-in"
          >Instagram</a
        >
        <a
          href="https://linkedin.com/company/{{ site.data.site-settings.social.linkedin_username }}"
          class="uppercase block text-xs"
          data-aos="fade-in"
          >LinkedIn</a
        >
      </div>
    </div>

    <!-- Right Column -->
    <nav class="lg:col-span-3 columns-2 lg:text-right">
      {% for item in site.data.navigation.footer %}
      <a
        href="{{ item.nav_link }}"
        class="block uppercase mb-4 text-xs"
        data-aos="fade-in"
        >{{ item.nav_title }}</a
      >
      {% endfor %}
    </nav>
  </div>
  <p class="lg:text-right text-xs mt-8" data-aos="fade-in">
    Copyright Swatch architects 2024. Website by Klioh Studio
  </p>
</footer>
