<footer class="pt-5p pb-8 mx-8">
  <!-- Logo -->
  <div class="">
    <a href="/index.html" data-aos="fade-up">
      <img src="/images/temporary/logo-temp.png" />
    </a>
  </div>
  {% include animations/animated-span.html %}

  <div class="grid lg:grid-cols-12 gap-12 mt-8">
    <!-- Left Column -->
    <div class="lg:col-span-9">
      <p class="lg:w-[30%] mb-8" data-aos="fade-up">
        Crafting unique spaces through meaningful collaborations
      </p>

      <!-- Social Links -->
      <div class="lg:flex gap-8">
        <a
          href="{{ site.data.site-settings.social.instagram_username }}"
          class="uppercase block mb-4 lg:mb-0"
          data-aos="fade-up"
          >Instagram</a
        >
        <a
          href="{{ site.data.site-settings.social.linkedin_username }}"
          class="uppercase block"
          data-aos="fade-up"
          >LinkedIn</a
        >
      </div>
    </div>

    <!-- Right Column -->
    <nav class="lg:col-span-3 columns-2 lg:text-right">
      {% for item in site.data.navigation.footer %}
      <a
        href="{{ item.nav_link }}"
        class="block uppercase mb-4"
        data-aos="fade-up"
        >{{ item.nav_title }}</a
      >
      {% endfor %}
    </nav>
  </div>
  <p class="lg:text-right text-[0.7] mt-8" data-aos="fade-up">
    Copyright Swatch architects 2004. Website by Klioh Studio
  </p>
</footer>
