<header
  class="sticky top-0 z-10 w-full flex items-center justify-between pt-4 px-4"
>
  <!-- Left Column -->
  {% for item in site.data.navigation.header limit:1 %}
  <a href="#" class="uppercase">{{ item.nav_title }}</a>
  {% endfor %}

  <!-- Logo -->
  <div class="flex-grow flex justify-center">
    <a href="/index.html" class="text-center">
      <img src="{{ site.data.site-settings.brand.primary_logo_path }}" class="inline-block" />
    </a>
  </div>

  <!-- Right Column -->
  {% for item in site.data.navigation.header limit:1 offset:1 %}
  <a href="#" class="uppercase">{{ item.nav_title }}</a>
  {% endfor %}

</header>
