<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<style>
/* Mobile styles first */
/* Accordian slides */
.accordion dt a {
  display:block;
  position: relative;
  text-decoration: none;
  font-family: 'meno-banner', sans-serif;
  font-style: italic;
  border-bottom: 0.5px solid black;
}

.accordion dt a:first {
  padding: 0;
}



/* Inside accordion */
.accordion dd {
    padding: 2rem 5rem 2rem 0;
}

/* Plus icon */
.accordion dt a span {
  content: "";
  font-family: 'brandon-grotesque', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  display: block;
  line-height: 1;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

/* Icon rotation to cross */
.open::after {
  transform: rotateZ(45deg);
}


/* iPad and larger screens */
@media (max-width: 768px) {
/* Accordion slide */
.accordion dt a {
  padding: 2rem 0rem 0.2rem 0;
  display:block;
  position: relative;
  text-decoration: none;
  /* border-top: 1px solid black; */
}

/* Inside accordion */
  .accordion dd {
    padding: 0 0 2rem 0;
  }

  /* Icon position */
  .accordion dt a::after {
    font-size: 0.8rem;
    margin: 0;
    top: auto;
    bottom: 0.6rem;
  }
}
</style>



<div>
    <dl class="accordion md:pb-0 pb-12">
        {% for item in page.accordion %}

        <dt>
          <a href="flex justify-between">
            <span class="magic-text">More</span>
            <p class="serif-lg md:mr-12 mr-8">{{item.heading}}</p>
          </a>
        
          <div class="mb-4 w-[75%] mt-4">{{item.description_html}}</div>
        </dt>

        <dd class="mb-6">
     

            <div class="grid md:grid-cols-2 grid-cols-1 pt-8 lg:pt-0 gap-8">
                <div >
                    <div>
                        <h3 class="lg:mb-12 mb-4 subtitle uppercase">Do you have?</h3>
                        <div>{{item.do_you_have_html}}</div>
                    </div>

                    <div class="pt-12">
                        <h3 class="lg:mb-12 mb-4 subtitle uppercase">Qualifications</h3>
                        <div>{{item.qualifications_html}}</div>
                    </div>

                    <!-- mobile only -->
                    <div class="md:hidden flex pt-12">
                      <div>
                          <h3 class="lg:mb-12 mb-4 subtitle uppercase">Key responsibilities</h3>
                          <div>{{item.responsibilities_html}}</div>
                      </div>
                  </div>
                  <!-- end -->

                    <div class="pt-12">
                        <h3 class="lg:mb-12 mb-4 subtitle uppercase">How to apply</h3>
                        <div class="mb-8">{{item.how_to_apply_html}}</div>

                        <a class="border-black border-[0.5px] px-8 py-2 uppercase " href="{{item.apply_link}}"> Apply now </a>
                    </div>
                </div>

                <div class="hidden md:flex">
                    <div>
                        <h3 class="lg:mb-12 mb-8 subtitle uppercase">Key responsibilities</h3>
                        <div>{{item.responsibilities_html}}</div>
                    </div>
                </div>

        </dd>
        <div class="md:p-4"></div>
        {% endfor %}
    </dl>
</div>



<script>
  $(document).ready(function(){
  
    var allPanels = $('.accordion > dd').hide();
  
    $('.accordion > dt > a').click(function() {
    
    allPanels.slideUp();
    
    $(this).filter('.open').removeClass('open').addClass('closing')
    $('.accordion > dt > a').removeClass('open');
    $(this).not(".closing").addClass('open').parent().next().slideDown();
    $('.accordion > dt > a').removeClass('closing');
    
    return false;
    });
  });
</script>