<form class="grid grid-cols-2 gap-[5px] w-full" action="https://api.web3forms.com/submit" method="POST">
  <!-- Add custom value key below -->
  <input type="hidden" name="access_key" value="6309d719-2269-4b85-a464-f611273ac439" />
  <div class="md:col-span-1 col-span-full">
    <input type="text" name="first-name" placeholder="First Name*" required />
    </div>
    <div class="md:col-span-1 col-span-full">
    <input type="text" name="surname" placeholder="Surname*" required />
    </div>
    <div class="md:col-span-1 col-span-full">
    <input type="email" name="email" placeholder="Email*" required />
    </div>
    <div class="md:col-span-1 col-span-full">
    <input type="tel" name="phone" placeholder="Phone" />
    </div>
      <div class="col-span-full">
        <input type="text" name="how-did-you-hear-about-us" placeholder="How did you hear about us?" />
        </div>
    <div class="col-span-2 row-span-2">
    <textarea type="text" name="message" placeholder="Your Message*" required></textarea>
    <div class="col-span-full">
      <input type="submit" value="Submit" />
    </div>
    <!-- Add full URL for custom redirect in value below (include https) -->
    <input type="hidden" name="redirect" value="https://swatcharchitects.co.uk/thank-you" />
  </form>
  <script src="https://web3forms.com/client/script.js" async defer></script>







<style>

    /* add custom font and size below for input and text area */
    input,
    textarea {
      font-family: "brandon-grotesque",sans-serif;
      font-size: 0.8rem;
      text-transform: uppercase;
      border-style: solid;
      border-bottom: 1px solid black;
      color: black;
      padding: 0.9rem 0rem;
      display: block;
      width: 100%;
      background-color: rgba(265,265,265,0);
      -webkit-appearance: none;
      -webkit-border-radius:0;
      border-radius: 0!important;
     }
    
     /* add custom font for placeholder text below */
     input [type="placeholder"]  {
      font-family: sans-serif;
      color: black;

    }

    input [type="submit"]  {
      font-family: 'brandon-grotesque', serif!important;
      color: black;
      text-transform: uppercase;
      border-bottom: 0px solid black!important;

    }

 .submit-button {
  font-family: 'brandon-grotesque', 'serif';
  text-transform: uppercase;
 
  font-size: 1rem;
 }

    ::placeholder {
      color: black!important;
    }
    
    
    input:focus,
    textarea:focus {
      outline: none;
      border-bottom: 1px solid white;
      background-color: rgba(265,265,265,0);
    }
    
    textarea { min-height: 7rem; }
    
    input[type="submit"] {
      width: 100%;
      display: block;
      -webkit-appearance: none;
      background-color: rgba(265,265,265,0);
    }
    
    form [class*=col-] { padding: 5px; }
    
</style>