<div class="grid lg:grid-cols-3 gap-6">
  {% for item in site.data.information.work.gallery %}
  <!-- Image -->
  <div>
    <div
      class="bg-image-style aspect-portrait border-[16px] {% cycle 'border-accent', 'border-main' %}"
      style="background-image: url('{{ item.image_path }}');"
      data-aos="fade-in"
      data-aos-delay="300"
    ></div>
    <div
      class="{% cycle 'bg-accent', 'bg-main' %} pt-8 pb-8 px-4 lg:flex justify-between"
    >
      <h3 class="subtitle text-light mb-2 uppercase" data-aos="fade-in">
        {{ item.name }}
      </h3>
      <span class="subtitle text-light" data-aos="fade-in"
        >{{ item.location }}</span
      >
    </div>
  </div>
  {% endfor %}
</div>
