<!------------------------- Add to front matter ----------------------->
<!-- slider-items:
 - title:
   price:
   url:
   image:
 - title:
   price:
   url:
   image:
 - title:
   price:
   url:
   image:
 - title:
   price:
   url:
   image:     -->

<!-- Scripts -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for item in page.slider-items %}
        <div class="swiper-slide">
            <div class="content px-10">
                <div class="bg-center bg-contain bg-no-repeat lg:h-[40vh] aspect-portrait"
                    style="background-image:url('{{item.image}}')">
                </div>
                <h4 class="mt-6 mb-4">{{item.title}}</h4>
                <p class="mb-4">{{item.price}}</p>
                <a href="{{item.url}}" class="btn">Shop Now</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Scrollbar, sits outside swiper container -->
    <div class="swiper-scrollbar"></div>
</div>
</div>
</section>



<style>
    .swiper {
        max-width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }

    .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        height: 2px;
    }

    .content {
        padding-bottom: 3rem;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        color: black;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: var(--swiper-navigation-top-offset, 42%);
    }
</style>


<script>
    var swiper = new Swiper(".swiper", {
        direction: 'horizontal',
        loop: false,
        scrollbar: {
            el: '.swiper-scrollbar',
            clickable: true,
            draggable: true
        },
        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 10,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 20,
            },
            1024: {
                slidesPerView: 4,
                spaceBetween: 30,
            },
        },
        mousewheel: {
            forceToAxis: true,
        },
    });