<!-- Add Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<style>
  .swiper-slide {
    transition: transform 0.5s ease-out;
    transform: scale(0.9) translate3d(0, 0, 0); /* Add translate3d to enable hardware acceleration */
  }
  .swiper-slide.center {
    transform: scale(1) translate3d(0, 0, 0);
  }
  .swiper-container {
    cursor: none;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
  }

  .cursor {
    position: absolute;
    z-index: 999;
    transition: 0.3s linear transform, 0.2s linear opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
    opacity: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cursor.active {
    opacity: 1;
    transform: scale(2);
  }

  /* Mobile-specific styles */
  @media (max-width: 767px) {
    .cursor {
      display: none;
    }
  }
</style>

<div class="cursor">
  <i class="fas fa-arrow-left"></i>
</div>

<div class="swiper-container w-full">
  <div id="image-track" class="swiper-wrapper w-[100vw]">
    {% for item in site.projects %}
    <div class="swiper-slide">
      {% for image in item.featured_images limit:1 %}

      <div
        class="bg-image-style aspect-portrait w-full h-[50vh] md:h-[65vh] border-[16px] border-[{{item.project_colour}}]"
        style="background-image: url('{{ image.image }}');"
        draggable="false"
      ></div>
      {% endfor %}
      <div
        class="bg-[{{item.project_colour}}] pt-8 pb-8 px-4 lg:flex justify-between"
      >
        <h3 class="subtitle mb-2 uppercase" data-aos="fade-in">
          {{ item.title }}
        </h3>
        <span class="subtitle uppercase" data-aos="fade-in"
          >{{ item.location }}</span
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Add Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const cursor = document.querySelector(".cursor");
    const swiperContainer = document.querySelector(".swiper-container");

    let posX = 0,
      posY = 0,
      mouseX = 0,
      mouseY = 0;

    const updateScale = () => {
      const swiper = swiperContainer.swiper;
      const slides = document.querySelectorAll(".swiper-slide");

      slides.forEach((slide, index) => {
        if (index === swiper.activeIndex) {
          slide.style.transform = "scale(1)";
        } else {
          slide.style.transform = "scale(0.9)";
        }
      });
    };

    // Function to move to the next card
    function moveNextCard() {
      swiper.slideNext();
    }

    // Function to move to the previous card
    function movePreviousCard() {
      swiper.slidePrev();
    }

    // Click event to detect where user clicks and move slides accordingly
    swiperContainer.addEventListener("click", function (e) {
      const screenWidth = window.innerWidth;
      const clickX = e.clientX; // Get the horizontal coordinate of the click

      if (clickX > screenWidth / 2) {
        // Click on the right side of the screen
        moveNextCard();
      } else {
        // Click on the left side of the screen
        movePreviousCard();
      }
    });

    window.addEventListener("mousemove", function (e) {
      mouseX = e.pageX;
      mouseY = e.pageY;

      const cursorIcon = cursor.querySelector("i");
      if (mouseX < window.innerWidth / 2) {
        cursorIcon.classList.remove("fa-arrow-right");
        cursorIcon.classList.add("fa-arrow-left");
      } else {
        cursorIcon.classList.remove("fa-arrow-left");
        cursorIcon.classList.add("fa-arrow-right");
      }
    });

    TweenMax.to({}, 0.016, {
      repeat: -1,
      onRepeat: function () {
        posX += (mouseX - posX) / 9;
        posY += (mouseY - posY) / 9;
        TweenMax.set(cursor, {
          css: {
            left: posX - 12.5, // Center the cursor
            top: posY - 12.5, // Center the cursor
          },
        });
      },
    });

    swiperContainer.addEventListener("mouseenter", () => {
      cursor.classList.add("active");
    });

    swiperContainer.addEventListener("mouseleave", () => {
      cursor.classList.remove("active");
    });

    var swiper = new Swiper(".swiper-container", {
      slidesPerView: 1.5,
      spaceBetween: 2,
      centeredSlides: true,
      loop: true,
      breakpoints: {
        // Adjustments for larger screens
        640: {
          // Example breakpoint at 640px
          slidesPerView: 3,
          spaceBetween: 2,
        },
      },
      on: {
        init: function () {
          updateScale(); // Call updateScale on initialization
        },
        slideChange: function () {
          updateScale(); // Call updateScale on slide change
        },
      },
    });
  });
</script>
