<section class="grid lg:grid-cols-2">
  <div
    class="tween absolute top-150 left-20% w-full text-center z-20 px-4 md:px-0"
  >
    <a href="/index.html" class="inline-block">
      <img
        src="{{ site.data.site-settings.brand.primary_logo_path }}"
        class="inline-block h-14 object-contain"
        alt="Logo"
      />
    </a>
  </div>
  <!-- Left Column -->
  <div
    class="left-column order-last lg:order-first bg-image-style border-t-[24px] border-b-[48px] border-x-[24px] border-main my-[20%] md:mx-[25%] mx-[20%] max-h-[100vh] min-h-[35vh] md:min-h-[50vh]"
    style="background-image: url('{{ page.banner.image-left.image_path }}'); background-position: {{ page.header.image.image_focus }};"
  ></div>

  <!-- Right Column -->
  <div
    class="right-column bg-image-style h-[100vh]"
    style="background-image: url('{{ page.banner.image-right.image_path }}'); background-position: {{ page.header.image-right.image_focus }};"
  ></div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Function to check if the device is mobile
    TweenMax.set(".left-column", { opacity: 0 });
    TweenMax.set(".right-column", { opacity: 0 });

    function isMobile() {
      return window.matchMedia("(max-width: 940px)").matches;
    }

    function getVerticalCenter() {
      var windowHeight = window.innerHeight; // Get the viewport height
      var elementHeight = document.querySelector(".tween").clientHeight; // Get the element's height

      return (windowHeight - elementHeight) / 2; // Calculate the center position
    }

    if (isMobile()) {
      // Mobile-specific animation: animate from the center, scale down, and fade out
      TweenMax.from(".tween", 1.5, {
        y: getVerticalCenter(), // Vertical translation
        scale: 1, // Starts fully scaled
        opacity: 1, // Starts fully opaque
        ease: Expo.easeInOut,
        onComplete: function () {
          TweenMax.to(".tween", 1.5, {
            scale: 0.5, // Scale down
            y: "0", // Vertical translation
            opacity: 0, // Fade to invisible
            zIndex: 0,
            ease: Expo.easeInOut,
          });
        },
      });
    } else {
      // Non-mobile-specific animation: translate vertically

      TweenMax.from(".tween", 3, {
        y: getVerticalCenter(), // Vertical translation
        scale: 3,
        ease: Expo.easeInOut,
      });
    }

    // Common animations for both mobile and desktop
    TweenMax.to(".left-column", 1.8, {
      opacity: 1,
      ease: "cubic-bezier(0.68, -0.55, 0.27, 1.55)",
      delay: 2.5,
    });

    TweenMax.to(".right-column", 2, {
      opacity: 1,
      ease: "cubic-bezier(0.68, -0.55, 0.27, 1.55)",
      delay: 2.8,
    });
  });
</script>
