<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body>

    <!-- Header -->
    <header class="fixed top-0 z-10 w-full flex items-center justify-between pt-4 px-4 border-b border-dark">
        <a href="#" class="uppercase">Swatch Architects</a>
        <div class="flex-grow flex justify-center">
            <a href="/index.html" class="text-center">
                <img src="/images/temporary/logo-temp.png" class="inline-block">
            </a>
        </div>
        <a href="#" class="uppercase">Menu</a>
    </header>

    {{content}}

    <footer class="py-5p mx-8">

        <!-- Logo -->
        <div class="border-b border-dark">
            <a href="/index.html">
                <img src="/images/temporary/logo-temp.png">
            </a>
        </div>

        <div class="grid grid-cols-12 gap-12 mt-8">

            <!-- Left Column -->
            <div class="col-span-9">
                <p class="w-[30%] mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                <!-- Social Links -->
                <div class="flex gap-8">
                    <a href="#" class="uppercase">Instagram</a>
                    <a href="#" class="uppercase">LinkedIn</a>
                </div>
            </div>

            <!-- Right Column -->
            <nav class="col-span-3 columns-2 text-right">
                {% for item in site.data.navigation.footer %}
                    <a href="{{ item.url }}" class="block uppercase mb-4">{{ item.title }}</a>
                {% endfor %}
            </nav>
            
        </div>
        <p class="text-right text-[0.7] mt-8">Copyright Swatch architects 2004. Website by Klioh Studio</p>
    </footer>

</body>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js"
    integrity="sha512-Pqx0ZVocHCSzTLK4pm0GhccHtOT6fmZz+tqfYHV/llI60gB9sr9jkiqrqSEwFJIrzpcZEHPJjsq4GcC731UNXg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
    integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Javascript  -->
<script src="/main.js"></script>

</html>