<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}


    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />
</head>

<body>

    <!-- Header -->
    {% include navigation/site-header.html %}
 
    <div class="px-4">
    {% include animations/animated-span.html %}
    </div>
    {{content}}
   
    <!--------------------- Instagram Embed Widget ----------------------->

    {% if site.data.site-settings.technical.instagram_widget_embed %}

    <section class="p-5 md:p-10">
        <h4 class="title-sm"> <a target="_blank"
                href="https://www.instagram.com/{{site.data.site-settings.social.instagram_username}}"> {{
                site.data.site-settings.social.instagram_username }} </a>

            {{site.data.site-settings.technical.instagram_widget_embed }}

    </section>

    {% endif %}

    {% include navigation/site-footer.html %}

</body>

<!--------------------- Site Wide Javascript ----------------------->

<!-- Add jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

<!-- Slick slider JS -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>

<!-- Custom javascript style -->
<script src="/javascript/scripts.js" defer></script>

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Initialize AOS on page load in the root of the application so its available across the whole page.
    AOS.init({
      // This settings apply for all elements that will use AOS if you want to change individual settings for some elements applyit directly to the div. I have left an example on the image element in fade-animation.html
      easing: "cubic-bezier(0.68, -0.55, 0.27, 1.55)", // Custom cubic bezier easing, can edit to your own preference
      duration: 1700, // Duration of the animation, play around to achieve the desired speed
      offset: 10, // Change the offset to desired effect
      delay: 0.3, // Delay values from 0 to 3000, with step 50ms
      once: true, // The animation only to appear once, set to false if you want it to appear everytime the user scrolls to the section.
    });
  });
</script>

</html>