---
layout: alternative-layout
---

<section class="grid md:grid-cols-2 grid-cols-1 lg:pb-0 pb-12">
  <div
    class="flex flex-col items-start justify-between md:sticky md:top-0 md:h-screen md:pb-0 md:pt-12 lg:px-8 px-[5%] pt-12 pb-4"
  >
  <a href="/projects" class="link" data-aos="fade-in"> Back to projects </a>

  <div class="md:mb-[-0.75rem]">
    <h1 class="serif-lg mb-8 mt-20 md:mt-0">{{page.title}}</h1>
    <!-- <h2 class="serif-sm margin-heading">{{page.location}}</h2> -->
    <div class="mb-8 lg:w-3/4">{{page.description_html}}</div>
    <p class="subtitle-md mb-4">Location: {{page.location}}</p>
    <p class="subtitle-md mb-4">Brief: {{page.project_type}}</p>
    <p class="subtitle-md">Status: {{page.project_status}}</p>
  </div>
    

    <div class="grid items-center w-full md:mt-0 mt-20">
      {% for item in page.property %}
      <div class="col-span-full grid grid-cols-4 md:gap-0 gap-1 md:my-3 mb-3">
        <div class="col-span-2">
          <p class="subtitle-md">{{item.title}}</p>
        </div>
        <div class="xl:col-span-1 col-span-2">
          <p class="uppercase subtitle-sm">
            Building size: {{item.building_size}}
          </p>
        </div>
        <div class="xl:row-start-auto x:col-start-auto row-start-2 col-start-3 xl:col-span-1 col-span-2 mb-1">
          <p class="uppercase subtitle-sm">Land plot: {{item.land_plot}}</p>
        </div>
        <div class="col-span-full">
          {% include animations/animated-span.html %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div>
    {% for item in page.project_gallery %}
    <img
      src="{{item.image}}"
      alt=""
      class="mb-4 w-full object-contain object-center"
    />
    {% endfor %}
  </div>
</section>
