---
layout: default
---

<section class="grid grid-cols-2">
    <div class="flex flex-col items-start justify-end sticky top-0 h-[95vh] p-12">
        <h1 class="serif-lg margin-heading">{{page.title}}</h1>
        <h2 clas="serif-md margin-heading">{{page.location}}</h2>
        <p class="mb-16">{{page.description_html}}</p>
        <p class="subtitle mb-4">{{page.project_type}}</p>
        <p class="subtitle mb-20">Status: {{page.project_status}}</p>

        <div class="grid grid-cols-4 w-full border-black border-y">
            {% for item in page.property %}
            <div class="col-span-2">
                <p>{{item.title}}</p>
            </div>
            <div>
                <p class="uppercase text-sm">Building size: {{item.building_size}}</p>
            </div>
            <div>
                <p class="uppercase text-sm">Land plot: {{item.land_plot}}</p>
            </div>
            {% endfor %}
        </div>
    </div>


    <div>
        {% for item in page.gallery %}
        <img src="{{item.image}}" alt="" class="h-screen w-full object-cover object-center">
        {% endfor %}
    </div>
</section>